.card {
  width: 95%;
  max-width: 460px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #ffffff;

  .header {
    padding: 24px 32px;
  }
}


@media (max-width: 440px) {
  .card .header {
    padding: 15px;
  }
}