.applications {
  &-form {
    .form {
      &-part {
        &.form-part--one {
          padding: 32px 0;
          border-top: 1px solid #e1ddf4;

          .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px 16px;
          }

          .form-row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0 16px;
            align-items: end;
          }
        }

        &.form-part--two {
          padding: 32px 0;
          border-top: 1px solid #e1ddf4;

          .container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 16px 0;
          }

          .form-row {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 0 16px;
          }
        }

        &.form-part--three {
          border-top: 1px solid #e1ddf4;
          padding: 32px 0;

          .container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 0 16px;
            align-items: start;
          }
        }

        &.form-part--four {
          padding-bottom: 32px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 0 12px;

          .btn {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .applications {
    &-form {
      .form-part {
        &.form-part--one {
          .container {
            grid-template-columns: 1fr;
          }

          .form-row {
            grid-template-columns: 1fr;
            gap: 16px 0;
          }

          .form-field {
            grid-column: 1;
          }
        }

        &.form-part--two {
          .form-row {
            grid-template-columns: 1fr;
            gap: 16px 0;
          }
        }

        &.form-part--three {
          .container {
            grid-template-columns: 1fr;
            gap: 16px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .applications {
    &-form {
      .form-part {
        &.form-part--three {
          .field-row {
            grid-template-columns: 1fr;
          }
        }

        &.form-part--four {
          grid-template-columns: 1fr;
          gap: 12px 0;
        }
      }
    }
  }
}
